.header{
    background-color: burlywood;
    padding:$main-padding;
    border:$main-border;

    .nav{
        background-color: cadetblue;
        padding:$main-padding;
        border:$main-border;
        
        @include navLink
    }
}
