$main-padding:15px;
$main-border:1px solid grey;
$main-width:1200px;

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    width: 100%;
}

.container{
    width: $main-width;
    padding:$main-padding;
    margin:auto;
    border:$main-border;
}

.header{
    background-color: burlywood;
    padding:$main-padding;
    border:$main-border;

}

.nav{
    background-color: cadetblue;
    padding:$main-padding;
    border:$main-border;

}

.leftside{
    background-color: crimson;
    padding:$main-padding;
    border:$main-border;

}

.main{
    background-color: darkkhaki;
    padding:$main-padding;
    border:$main-border;

}

